.esqueceuSenhaContainer {
  display: flex;
  height: 100vh;
}

.imagemEsquerda {
  flex: 1;
  background-size: cover;
  background-position: center 30%; /* Ajusta o foco para 30% do topo */
  background-repeat: no-repeat;
}


.formDireita {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  margin-bottom: 50px;
  background-color: #ffffff;
}

  
  h2 {
    color: #0367A5;
    font-size: 2rem;
    font-weight: bold;
  }
  
  p {
    color: #333;
    font-size: 1rem;
    max-width: 400px;
  }
  
  .emailInput {
    position: relative;
    margin-bottom: 15px;
    width: 90%;
    padding: 12px 40px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .enviarCodigo {
    width: 100%;
    max-width: 200px;
    padding: 12px;
    background-color: #0367A5;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    transition: transform 0.3s ease-in-out;
  }
  
  .enviarCodigo:hover {
    transform: scale(1.10);
    box-shadow: 2px 4px 6px #0367A5(0, 0, 0, 0.2);
  }
  

  .voltarLogin {
    margin-top: 50px;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .voltarLogin:hover {
    text-decoration: underline;
  }
  
  
  @media (max-width: 1024px) {
    .esqueceuSenhaContainer {
      flex-direction: column;
      height: auto;
    }
  
    .imagemEsquerda {
      height: 250px;
      flex: none;
    }
  
    .formDireita {
      flex: none;
      padding: 30px;
    }
  
    h2 {
      font-size: 1.8rem;
    }
  }
  
  @media (max-width: 768px) {
    h2 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 0.9rem;
    }
  
    .emailInput, .enviarCodigo {
      width: 90%;
      font-size: 0.9rem;
    }
  
    .voltarLogin {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    h2 {
      font-size: 1.3rem;
    }
  
    .emailInput, .enviarCodigo {
      width: 100%;
      font-size: 0.85rem;
      padding: 10px;
    }
  
    .voltarLogin {
      font-size: 0.85rem;
    }
  }