.redefinirSenhaContainer {
    display: flex;
    height: 100vh;
}

.RedImagemEsquerda {
    width: 50%;
    height: 100%;
    background: url("/src/assets/login-senha.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.RedLadoDireito {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
    background-color: #ffffff
    ;
}

.RedLadoDireito h1 {
    color: #0367A5;
    font-size: 60px;
    font-weight: bold;
}

.RedLadoDireito p {
    color: #333;
    font-size: 20px;
    margin-bottom: 50px;
}

.RedInputSenha {
    position: relative;
    margin-bottom: 15px;
    width: 80%;
    padding: 12px 40px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.continuar {
    width: 100%;
    max-width: 200px;
    padding: 12px;
    background-color: #0367A5;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    transition: transform 0.3s ease-in-out;
}

.continuar:hover {
    transform: scale(1.10);
    box-shadow: 2px 4px 6px #0367A5(0, 0, 0, 0.2);
}

.voltarLogin {
    margin-top: 50px;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.voltarLogin:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {

    .redefinirSenhaContainer {
      flex-direction: column;
    }
    .RedImagemEsquerda{
      display: none !important;
    }
    .RedLadoDireito {
      display: block;
      width: 100%;
    }
  }