.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    height: auto; 
    align-items: stretch; 
}

.content {
    background: #E9E8E8; 
    padding: 20px;
    border-radius: 6px;
    width: 100%; 
    min-height: 100vh;
    flex-grow: 1;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}


@media (max-width: 768px) {

    .container {
        margin-top: -20px;
    }
    .content {
      background: #f4f4f4;
        box-shadow: none
    }


}