
.hero {
  background: linear-gradient(to bottom, rgb(110, 186, 234), #ffffff);
  display: flex;
  align-items: center;
  font-family: var(--fonte);
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; 
  padding: 0 40px; 
}

.hero-image {
  width: auto;
  height: 40rem;

}

.hero h1 {
  font-size: 74px;
  font-weight: black;
  color: #004aad;
}

.hero h2 {
  font-size: 94px;
  font-weight: bold;
  color: #004aad;
}

.hero p {
  font-size: 20px;
  margin-top: 10px;
  color: #000000;
  max-width: 600px; 
}
