.cadastroContainer {
    display: flex;
    height: 100vh;
    align-items: stretch;
  }
  
  .cadastroEsquerda {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 3rem;
  }
  
  .cadastroTitulo {
    font-size: 60px;
    color: #0367A5;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .inputCadastro {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
    padding: 12px 40px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
    
  }
  
  .termos {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: #555;
  }
  
  .termos input {
    margin-right: 0.5rem;
  }
  
  .linkTermos {
    color: #0367A5; 
    text-decoration: underline; 
    font-weight: bold; 
  }
  
  .linkTermos:hover {
    color: #0367A5; 
  }
  
  .botaoCadastro {
    margin-top: 40px;
    background: #0367A5;
    color: #fff;
    border: none;
    padding: 0.75rem;
    width: 30%;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px #0000001a;
  }
  
  .botaoCadastro:hover {
    transform: scale(1.10);
    box-shadow: 2px 4px 6px #0367A5(0, 0, 0, 0.2);
  }
  .inputSenhaContainer{
    position: relative;
    width: 100%;
  }
  
  .inputSenhaContainer input {
    width: 100%;
    padding-right: 50px; 
  }
  
  .toggleSenha {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #999;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
  }
  
  .cadastroDireita {
    width: 40%;
    align-items: center;
    justify-content: center;
    background: url('/src/assets/login-senha.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    filter: brightness(90%);
  }
  
  .BotaoLogin{
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.692);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  @media (max-width: 768px) {

    .cadastroContainer {
      flex-direction: column;
      align-items: center;
    }
    .cadastroDireita{
      display: none !important;
    }
    .cadastroEsquerda {
      display: flex; 
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
    }
    .botaoCadastro {
      display: block;
      width: 100%;
    }
    .socialIcons {
      display: flex;
      justify-content: center; 
      width: 100%;
    }
  }
