
.loginContainer {
    display: flex;
    max-width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
  }
  
  .loginEsquerda {
    width: 50%;
    height: 100%;
    background: url('/src/assets/Img-login.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }
  
  .loginEsquerda h1 { 
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight:bold;
    height: 100vh;
    color: #ffffff;
    margin-bottom: 300px;
  }
  
  .loginEsquerda p {
    font-size: 1.2rem;
    margin: 15px 0;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .criarConta {
    margin-top: 10px;
    background: #999;
    color: #ffffff;
    border: none;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transition: 0.3s;
  }
  
  .criarConta:hover {
    background: #999;
    color: #fff;
    transform: scale(1.10);
    box-shadow: 2px 4px 6px #555555(0, 0, 0, 0.2);
  }

  .loginDireita {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-shadow: 0px 4px 10px #0000001a;
  }
  
  .loginTitulo {
    font-size: 3rem;
    color: #0367A5;
    margin-bottom: 0.8px;
  }
  
  .loginSubtitulo{
    font-size: 1rem;
    color: #0c0c0c;
    margin-bottom: 100px;
  }
  
  .loginformulario {
    width: 100%;
    max-width: 350px;
  }
  
  .inputCampo {
    position: relative;
    margin-bottom: 15px;
  }
  
  .inputCampo input {
    width: 100%;
    padding: 12px 40px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
  }
  
  .inputIcone {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #0367A5;
  }
  
  .Senha {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
  }
  
  .EsqueciSenha {
    display: block;
    text-align: center;
    margin-top: 5px;
    font-size: 0.9rem;
    color: #0c0c0c;
    text-decoration: none;
  }
  
  .EsqueciSenha:hover {
    text-decoration: underline;
  }
  
  .EntrarBotao {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #0367A5;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .EntrarBotao:hover {
    transform: scale(1.1);
    background-color: #0367A5;
  }
  
  .connecText {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 0.9rem;
    color: #0c0c0c;
  }
  

  .socialIcons {
    display: flex;
    gap: 30px;
    margin-top: 10px;
  }
  
  .socialIcons svg {
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .socialImg {
    display: block;
    width: 35px; 
    height: 35px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .socialImg:hover {
    transform: scale(1.2);
  }

  .socialImg2 {
    display: block;
    width: 55px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .socialImg2:hover {
    transform: scale(1.2);
  }
  .GoogleIcon {
    color: #db4437;
  }
  
  .socialIcons svg:hover {
    transform: scale(1.1);
  }
  .voltarinicio {
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.692);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  @media (max-width: 768px) {
    .loginContainer {
      flex-direction: column;
    }
    .loginEsquerda {
      display: none;
    }
    .loginDireita {
      width: 100%;
    }
  }
  