.bar-pesquisa{
    display: flex;
    align-items: center;
    border: 1px solid#000000;;
    background-color: #00000006;
    padding: 5px 10px;
    max-width: 1120px;
    width: 90%;
    border-radius: 1rem;
    color: #b4b4b4;
    margin: 3rem auto;

}
.bar-pesquisa input{
    border: none;
    background-color: transparent;
    padding: 8px;
    width: 100%;
    outline: none;
}   
@media (max-width: 768px) {
    .bar-pesquisa{
    max-width: 95%;
    padding: 8px;
    }
    
}