.map-section {
  background: linear-gradient(to bottom, #ffffff, rgba(110, 186, 234, 0.2));
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
}

.map-container {
  height: 500px;
  width: 94%;
  border-radius: 10px;
  margin: 0 42px;
}

.map-simples .map-container {
  height: 400px; 
}

.map-detalhado .map-container {
  height: 600px; 

}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 180px; 
  height: 270px;
  padding: 8px;
}

.popup-title {
  font-size: 14px;
  font-weight: bold;
  color: #0367A5;
  margin-bottom: 5px;
}

.popup-img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 5px;
}

.popup-desc {
  font-size: 12px;
  color: #555;
  margin: 0;
}


@media only screen and (max-width: 767px) {
  .map-section {
    padding: 16px 0; /* Reduz o padding para mobile */
  }

  .map-container {
    height: 300px; 
    width: 100%; 
    margin: 0; 
  }

  .map-detalhado .map-container {
    height: 790px;
  }

  .popup-content {
    width: 140px; 
    height: auto;
    padding: 6px; 
  }

  .popup-title {
    font-size: 12px; 
  }

  .popup-img {
    width: 120px; 
  }

  .popup-desc {
    font-size: 10px; 
  }
}
