.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: inherit; 
    color: white;
  }
  
  .btn:hover {
    opacity: 0.8;
    transform: scale(1.05);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .custom-button {
    background-color: inherit; 
  }
  