
  .iconperson{
    width: 70px;
    height: 70px;
    color: #808080;
  }

  .setaBaixo{
    color: #808080;
  }
  .usuario {
    flex: 1;
    padding: 20px;
  }
  .user {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
    }