/* Seção superior */
.secao-superior {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.titulo-dashboard {
  margin: 0;
  font-size: 40px;
  color: #ffffff;
}

.paragrafo-dashboard {
  font-size: 16px;
  color: #ffffff;
}

.cabecalho-painel {
  position: relative;
  width: 700px;
  height: 165px;
  border-radius: 6px;
  background-color: #0367a5;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

 .cabecalho-painel img {
  position: absolute;
  width: 165px;
  height: 165px;
  top: 0;
  right: 0;
} 


.forum-botao {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 8px;
  background-color: #35a150;
  border: none;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  width: 150px;
  height: 28px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Cartões Cursos e Estrelas - desktop */
.info-geral {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}

.info-card-dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 342px;
  height: 80px;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: bold;
}

.info-card-curso {
  background: linear-gradient(to right, #d4a017, #c69715);
}

.info-card-estrela {
  background: linear-gradient(to right, #0a5fa3, #08578f);
}

.icone-numero {
  display: flex;
  align-items: center;
  gap: 10px;
}

.texto-numero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.icone-container {
  width: 50px;
  height: 45px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone-geral {
  font-size: 40px;
  color: #c69715;
}

.numero-geral {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  color: white;
  line-height: 15px;
  margin-top: 10px;
}

.paragrafo-geral {
  font-size: 16px;
  font-weight: normal;
  color: white;
}

/* Área de cursos */
.area-cursos {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0;
  position: relative;
}

.inicio-curso {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.cabecalho-curso {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 35px;
  font-weight: bold;
  color: #0367a5;
}

.titulo-cabecalho {
  color: #0367a5;
  font-size: 16px;
}

/* Filtro */
.filtro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.filtro-container label {
  font-weight: bold;
  font-size: 14px;
}

.filtro-container select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 530px;
  outline: none;
}

/* Cartões de curso */
.container-curso-dashboard {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.curso-card-dashboard {
  background-color: #f4f4f4;
  border-radius: 6px;
  width: 200px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.curso-titulo-dashboard {
  font-weight: bold;
  font-size: 17px;
  color: #0367a5;
  margin-top: 10px;
  margin-bottom: 10px;
}

.botao-curso-dashboard {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px) {
  .cabecalho-painel {
    display: none;
  }

  .area-cursos{
    display: none;
  }

}