.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  justify-content: space-between;
  border: 3px solid transparent;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.card.layout1 {
  width: 300px;
  height: 400px;
}

.card.layout2 {
  width: 400px;
  height: 450px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card.layout1 .card-icon {
  font-size: 120px;
  color: inherit;
  margin: 10px 0;
}

.card h3 {
  font-size: 1.5rem;
  color: #0367A5;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.card .button {
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: auto;
  }

  .card.layout1 {
    width: 250px;
    height: 350px;
  }

  .card.layout1 p {
    display: none;
  }

  .card.layout2 img {
    height: 150px;
  }

  .card .button {
    width: 100%;
    margin-bottom: 20px;
  }
}