:root{
    --cor-principal: #0367A5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-forum{
    display: flex;
    flex-direction: column;
}

.text-forum p{
    max-width: none;
    margin-top: 10px;
}

.text-forum{
    margin-left: 52px;
    margin-top: 30px;
}

.areaDePesquisaForum{
    display: flex;
    flex-direction: column;
}

/* .barra-pesquisa {
    width: 70%;
    max-width: 400px;
    margin: 20px auto;
} */



/* Media Query para Mobile */
@media (max-width: 768px) {
    .text-forum {
        margin-left: 0;
        padding: 0 15px;
    }

    .text-forum h2 {
        font-size: 1.3rem;
        margin-left: 20px;
    }

    .text-forum p {
        font-size: 0.9rem;
        margin-left: 20px;
       
    }

    .barra-pesquisa {
        width: 90%;
    }
}




