.logo-image {
    width: 160px;
    height: 40px;
    margin-left: 42px;
    margin-top: 10px;

  }

.Títulos {
    margin-left: 42px;
    margin-top: 30px;
}

.Subtítulos {
    margin-left: 42px;
    margin-top: 10px;
}

.textos {
    margin-left: 42px;
    margin-top: 10px;
}
