.pontos-section {
    display: flex;
    justify-content: space-between;
    padding: 5rem 1rem;
    }
    
    .pontos-text { 
        flex: 1;
        flex-direction: column;
        text-align: left; 
        padding: 0 40px;
        max-width: 70%;
    }
    
    .pontos-image {
        width: 300px; 
        height: auto;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .scanner-button{
        border-radius: 6px;
        color: white;
        border: none;
        padding: 8px 16px;
        font-size: 14px;
        background-color: #0367A5;
    }

    .scanner-button:hover {
        transform: scale(1.10);
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
      }


      .stop-button, .start-button {
        border-radius: 6px;
        color: white;
        border: none;
        padding: 8px 16px;
        font-size: 14px;
        background-color: #0367A5;
      }

      .stop-button,.start-button:hover {
        transform: scale(1.10);
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
      }
    
    #reader__scan_region img {
        display: none ;
    }
    
    #reader__dashboard_section_swaplink {
        color: black;
        font-size: 12px;
    }

    #reader {
        border: 1px solid transparent !important;  /* força um estilo a ter prioridade máxima */
    }


    

    
    