* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Faz com que padding e borda não aumentem o tamanho do elemento */
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Impede a rolagem horizontal */
}

.home {
  max-width: 100vw; /* Garante que a home não ultrapasse o tamanho da tela */
  overflow-x: hidden; /* Impede a barra de rolagem lateral */
}

/* HeroSection estilização  */

.hero {
  background: linear-gradient(to bottom, rgb(110, 186, 234), #ffffff);
  display: flex;
  align-items: center;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; 
  padding: 0 50px; 
  gap: 0;
}

.hero-image {
  width: 650px;
  height: 45rem;
  margin-bottom: -20px;

}

.hero h1 {
  font-size: 84px;
  font-weight: bold;
  margin-bottom: -20px;
}

.hero h2 {
  font-size: 104px;
  font-weight: bold;
}

.hero p {
  font-size: 24px;
  margin-top: 10px;
  max-width: 600px; 
  margin-bottom: 30px;
}

/* Seção Descubra Suas Possibilidades */

.possibilidades {
    padding: 60px 20px;
    text-align: center;
  }

.possibilidades h2{
  margin-bottom: 10px;
}

.possibilidades p{
  margin-bottom: 50px;
  font-size: 18px;
}
  
  .possibilidades .card-containerDescubra {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    justify-items: center;
  }

  .card-containerDescubra .card {
    width: 300px;
    height: 420px;
  }

  /*Seção mapa */

  .explore{
    display: flex;
    flex-direction: column;
  }

  .map-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .map-text h2 {
    color: #004aad;
    margin-bottom: 16px;
  }
  
  .map-text p {
    margin-bottom: 32px;
    font-size: 18px;
  }
  
  
  /* Seção Lugares Imperdíveis */
  .lugares-imperdiveis {
    padding: 60px 20px;
    text-align: center;
  }

  .lugares-imperdiveis h2{
    margin-bottom: 10px;
  }

  .lugares-imperdiveis p{
    font-size: 18px;
  }

  .lugaresImperdiveis-text{
    margin-bottom: 50px;
  }

  .card-containerLocais .card {
    width: 370px;
    height: 450px;
  }

  
  .lugares-imperdiveis .card-containerLocais {
    display: flex;
    justify-content: space-between;
    margin: 42px;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  

  
