* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

.home {
  max-width: 100vw;
  overflow-x: hidden;
}

/* HeroSection estilização */
.hero {
  background: linear-gradient(to bottom, rgb(110, 186, 234), #ffffff);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0 3.125rem;
  gap: 0;
}

.hero-image {
  max-width: 100%;
  height: auto;
  margin-bottom: -1.25rem;
}

.hero h1 {
  font-size: 5.25rem;
  font-weight: bold;
  margin-bottom: -1.25rem;
}

.hero h2 {
  font-size: 6.5rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.5rem;
  margin-top: 0.625rem;
  max-width: 37.5rem;
  margin-bottom: 1.875rem;
}

.heroButton{
  display: block;
}

/* Seção Descubra Suas Possibilidades */
.possibilidades {
  padding: 3.75rem 1.25rem;
  text-align: center;
}

.possibilidades h2 {
  margin-bottom: 0.625rem;
}

.possibilidades p {
  margin-bottom: 3.125rem;
  font-size: 1.125rem;
}

/* Seção mapa */
.explore {
  display: flex;
  flex-direction: column;
}

.map-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.map-text h2 {
  color: #004aad;
  margin-bottom: 1rem;
}

.map-text p {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  display: block;
}

/* Seção Lugares Imperdíveis */
.lugares-imperdiveis {
  padding: 3.75rem 1.25rem;
  text-align: center;
}

.lugares-imperdiveis h2 {
  margin-bottom: 0.625rem;
}

.lugares-imperdiveis p {
  font-size: 1.125rem;
}

.lugaresImperdiveis-text {
  margin-bottom: 3.125rem;
}

/* Estilos para o Carrossel */
.swiper-container {
  width: 100%;
  padding: 20px 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para os cards */
.card {
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card h3 {
  font-size: 1.5rem;
  color: #0367A5;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

/* Estilos específicos para o layout2 */
.card.layout2 img {
  width: 100%;
  height: 200px; /* Altura fixa para as imagens */
  object-fit: cover; /* Mantém a proporção e cobre o espaço */
  border-radius: 10px;
}

/* Media Queries para Responsividade */
@media (max-width: 1200px) {
  .hero h1 {
    font-size: 4rem;
  }

  .hero h2 {
    font-size: 5rem;
  }

  .hero p {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .hero-text {
    padding: 0 1.25rem;
    align-items: center;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero h2 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 1rem;
    text-align: center;
    display: block;
  }

  .hero-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  /* Ajustes para as imagens do layout2 no mobile */
  .card.layout2 img {
    height: 150px; /* Altura fixa para dispositivos móveis */
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero h2 {
    font-size: 2.5rem;
  }

  .hero p {
    display: none;
  }

  .heroButton{
    display: none;
  }

  .card {
    width: 100%; /* Cards ocupam toda a largura em dispositivos móveis */
  }

  .possibilidades p {
    font-size: 1rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  .map-text p {
    display: none;
  }

  .lugares-imperdiveis p {
    font-size: 1rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  
}