* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

.home {
  max-width: 100vw;
  overflow-x: hidden;
}

.hero {
  position: relative;
  background: linear-gradient(to bottom, rgb(110, 186, 234), #ffffff);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

.hero-text {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0 3.125rem;
  gap: 0;
}

.hero-image {
  max-width: 100%;
  height: auto;
}

.hero h1 {
  font-size: 5.25rem;
  font-weight: bold;
  margin-bottom: -1.25rem;
}

.hero h2 {
  font-size: 6.5rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.5rem;
  margin-top: 0.625rem;
  max-width: 37.5rem;
  margin-bottom: 1.875rem;
}

.heroButtonHome {
  display: block;
  position: absolute;
  bottom: 52px; 
  right: 52px; 
  margin: 0;
  z-index: 10; 

}

.possibilidades {
  padding: 3.75rem 1.25rem;
  text-align: center;
}

.text-possibilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: none; 
}

.possibilidades h2 {
  margin-bottom: 0.625rem;
}

.possibilidades p {
  margin-bottom: 3.125rem;
  font-size: 1.125rem;
  max-width: none;
}

.explore {
  display: flex;
  flex-direction: column;
}

.map-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.map-text h2 {
  color: #004aad;
  margin-bottom: 1rem;
}

.map-text p {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  display: block;
  max-width: none; /*Linha para definir o tamanho da caixa do texto*/
}

.lugares-imperdiveis {
  padding: 3.75rem 1.25rem;
  text-align: center;
}

.lugares-imperdiveis h2 {
  margin-bottom: 0.625rem;
}

.lugares-imperdiveis p {
  font-size: 1.125rem;
  max-width: none;
}

.lugaresImperdiveis-text {
  margin-bottom: 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-container {
  width: 100%;
  padding: 20px 0;
}

.carrossel-container {
  width: 100%;
  padding: 0 42px;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  position: relative;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  opacity: 1;
  margin: 0 8px;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #0367A6; 
}

@media (max-width: 1200px) {
  .hero h1 {
    font-size: 4rem;
  }

  .hero h2 {
    font-size: 5rem;
  }

  .hero p {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .hero-text {
    padding: 0 1.25rem;
    align-items: center;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero h2 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 1rem;
    text-align: center;
    display: block;
  }

  .hero-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .layout2-container {
    margin: 0 20px;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero h2 {
    font-size: 2.5rem;
  }

  .hero p {
    display: none;
  }

  .hero Button {
    display: none !important;
  }

  .possibilidades p {
    font-size: 1rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  .map-text p {
    display: none;
  }

  .lugares-imperdiveis p {
    font-size: 1rem;
    margin-left: 15px;
    margin-right: 15px;
  }
}