.cardCurso {
    border: 3px solid  #0367A5;
    border-radius: 10px;
    padding: 16px;
    width: 350px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  .cardCurso h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .cardCurso p {
    margin: 5px 0;
  }
  
  .cardCurso a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color:  #0367A5;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .cardCurso a:hover {
    background-color: #0056b3;
    text-decoration: none;
  }