.navbar {
  width: 100%;
  max-width: 2220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background: #ffffff;
}

.logo {
  width: 160px;
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
}

.nav-links li a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  color: #0367A5;
  transition: color 0.3s;
  font-size: 18px;
  position: relative; 
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #35A150; 
  transition: all 0.3s ease-in-out;
}

.nav-links li a:hover::after {
  width: 80%;
}

.nav-links li a:hover {
  color: #35A150;
}

.buttons {
  display: flex;
  gap: 30px;
}

