.navbar {
  width: 100%;
  max-width: 2220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background: #ffffff;
  position: relative;
}

.logo {
  width: 160px;
  height: 40px;
}

.links-nav {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.links-nav li a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  color: #0367A5;
  transition: color 0.3s;
  font-size: 18px;
  position: relative;
}

.links-nav li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #35A150;
  transition: all 0.3s ease-in-out;
}

.links-nav li a:hover::after {
  width: 80%;
}

.links-nav li a:hover {
  color: #35A150;
}

.area-usuario {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
}

.info-usuario {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.icone-usuario {
  width: 40px;
  height: 40px;
  color: #0367A5;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icone-usuario:hover {
  color: #024b7a;
}

.nome-usuario {
  font-size: 16px;
  font-weight: bold;
  color: #0367A5;
}

.icone-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #0367A5;
}

/* Estilos para mobile */
@media (max-width: 768px) {
  .navbar {
    position: relative;
    z-index: 1000;
  }

  .icone-menu {
    display: block;
    font-size: 30px;
    cursor: pointer;
    z-index: 1500;
  }

  .links-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #ffffffd4;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    gap: 20px;
    z-index: 2000;
  }

  .links-nav.ativo {
    opacity: 1;
    transform: translateY(0);
  }

  .area-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 0; /* Remove a margem esquerda */
  }

  .icone-usuario {
    width: 50px;
    height: 50px;
  }

  .nome-usuario {
    font-size: 18px;
  }

  .botoesNavLogado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    padding-top: 20px;
  }

  .botoesNavLogado button {
    width: 150px;
    height: 30px;
    max-width: 200px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #0367A5;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .botoesNavLogado button:hover {
    background-color: #024b7a;
  }
}