.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a{
  margin-left: 32px;
}

.icone-menu {
  display: none; 
  font-size: 30px;
  cursor: pointer;
}

.links-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.links-navegacao{
  display: flex;
  gap: 30px;
}

.links-nav li {
  list-style: none;
}

.links-nav a {
  text-decoration: none;
  color: #0367A5;
  font-weight: bold;
}

.area-usuario {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.icone-usuario {
  width: 40px;
  height: 40px;
  color: #0367A5;
  margin-left: 100px;
}

.nome-usuario {
  font-size: 16px;
  font-weight: bold;
  color: #0367A5;
}

.menu-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  height: 110px;
  width: 150px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none; 
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  z-index: 1000;
}

.menu-dropdown.ativo {
  display: flex;
}

.menu-dropdown button {
  background-color: transparent;
  border: none;
  color: #0367A5;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
  height: 30px;
  padding: 10px;
}

.menu-dropdown button:hover {
  color: #024b7a;
  background-color: #ddd;
  border-radius: 3px;
}

.botoesNavLogado {
  display: none !important; 
}

@media (max-width: 768px) {
  .icone-menu {
    display: block; 
  }

  .links-nav {
    display: none; 
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px; 
    left: 0;
    width: 100%;
    background-color: white;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
  }

  .links-navegacao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 0; 
    margin-right: 0;
  }

  .links-nav.ativo {
    display: flex; 
    opacity: 1;
    transform: translateY(0);
  }

  .area-usuario {
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    order: -1; 
  }

  .menu-dropdown {
    display: none !important; 
  }

  .botoesNavLogado {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: 0; 
    margin-right: 0;
  }

  .botoesNavLogado button {
    width: 45%;
    height: 30px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #0367A5;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .botoesNavLogado button:hover {
    background-color: #024b7a;
  }
}