.CertificadoContainer {
    background: #E9E8E8;
    padding: 20px;
    border-radius: 10px;
    width: calc(100% - 10px);
    height: calc(100vh - 10px);
    margin: 5px;
    box-shadow: 0 4px 20px #0000001a;
    display: flex;
    flex-direction: column;
    align-items: rigth;
    
  }
  
  .tituloCertificado{
    margin-bottom: 40px; 
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    text-align: left;
  
  }

  .Curso1Certif{
    margin-bottom: 70px;
    border-radius: 6px;
    display: flex;
    align-items: center; 
    background-color: #0367A6;
    color: #ffff;
    padding: 10px;
  }

  .BaixarCertif{
   margin-left: auto; 
  }

  .Curso2Certif{
    margin-bottom: 70px;
    border-radius: 6px;
    display: flex;
    align-items: center; 
    background-color: #0367A6;
    color: #ffff;
    padding: 10px;
  }

  .Curso3Certif{
    margin-bottom: 70px;
    border-radius: 6px;
    display: flex;
    align-items: center; 
    background-color: #0367A6;
    color: #ffff;
    padding: 10px;
  }

  .Curso4Certif{
    margin-bottom: 70px;
    border-radius: 6px;
    display: flex;
    align-items: center; 
    background-color: #0367A6;
    color: #ffff;
    padding: 10px;
  }

  @media (max-width: 768px) {
    .CertificadoContainer {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .tituloCertificado {
      margin-bottom: 0;
      font-size: 20px;
      padding-top: 100px;
    }
    .Curso1Certif{
        margin-top: 50px;
    }
    .Curso2Certif,
    .Curso3Certif,
    .Curso4Certif {
        width: 100%;
        margin-bottom: 50px;
    }
}
