.pontos-section {
  display: flex;
  justify-content: space-between;
  padding: 5rem 1rem;
}

.pontos-text {
  flex: 1;
  flex-direction: column;
  text-align: left;
  padding: 0 40px;
  max-width: 70%;
  margin-top: 40px;
}

.pontos-text p{
  max-width: none;
  margin-top: 15px;
  margin-bottom: 50px;
}

.paragrafo-mobile {
  display: none;
}

.button-init {
  margin-top: 20px;
}

.pontos-image {
  width: 300px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

.scanner-button {
  border-radius: 6px;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #0367a5;
}

.scanner-button:hover {
  transform: scale(1.1);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.stop-button,
.start-button {
  border-radius: 6px;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #0367a5;
}

.stop-button,
.start-button:hover {
  transform: scale(1.1);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

#reader__scan_region img {
  display: none;
}

#html5-qrcode-anchor-scan-type-change {
  color: black;
  font-size: 12px;
}


#reader {
  border: 1px solid transparent !important; /* força um estilo a ter prioridade máxima */

}

/* valido */

.vector-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.initial-vector h2 {
  color: #52bf04;
  font-size: 40px;
  margin: 0;
}

.initial-vector p {
  font-size: 20px;
  margin-top: 5px;
}

.vector-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 1rem;
}

.vector-img {
  color: #52bf04;
  width: 100px;
  height: 100px;
}

.vector-img-error {
  color: #d93728;
  width: 100px;
  height: 100px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.button-container-erro {
  display: flex;
  gap: 50px;
  align-items: center;
  margin: 20px auto;
  margin-top: 60px;
}

.initial-erro h2 {
  color: #d93728;
  font-size: 40px;
  box-shadow: 10px;
}

.initial-erro p {
  font-size: 20px;
  margin-top: 5px;
}

@media (max-width: 768px) {

  /* pagina inicial */
  .paragrafo-desktop {
    display: none;
  }

  .paragrafo-mobile {
    display: block;
    font-size: 15px;
    margin-top: 15px;
  }

  .pontos-text h2 {
    font-size: 25px;
  }

  .pontos-text {
    max-width: 100%;
  }


  .pontos-image {
    display: none;
  }

  .button-init {
    position: relative;
    z-index: 9999;
  }


/* scanner  */
.scanner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}
  /* validar  */

  .vector-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .title-container {
    display: flex;
    flex-direction: column;
  }

  .vector-img {
    width: 110px;
    height: auto;
  }

  .button-container {
    margin-top: 40px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  .text-container h2 {
    font-size: 25px;
    max-width: 70%;
  }

  .text-container p {
    font-size: 15px;
    margin-top: 40px;
  } 

  /* invalido */

  .button-container-erro {
    flex-direction: column;
    margin-top: 25px;
    gap: 30px;
  }


} 
