.dashboard-container {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background-color: #0367A6; 
}

.sidebar {
  width: 250px;
  background: #0367A6; 
  color: #ffffff;
  padding: 20px;
  position: fixed; 
  height: 100vh; 
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar ul {
  list-style: none;
  padding: 5px;
  margin: 5px;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
  margin-left: 5px;
}

.sidebar-item .icon {
  width: 30px;
  height: 30px;
  justify-items: center;
  align-items: center;
  margin-right: 5px;
}

.sidebar-item {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

 .sidebar-item-active {
  display: flex;
  align-items: center; 
  background-color: #35A150;
  color: white;
  border-radius: 5px;
  padding: 10px;
} 

.sidebar-item-active .iconTickt {
  width: 24px; 
  height: 24px;
  margin-right: 8px; 
}

.dashboard-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px; 
  padding: 20px;
}


@media (max-width: 768px) {
  .sidebar,
  .mobile-sidebar {
    width: 100%;
    height: 60px;
    position: fixed;
    border-radius: 6px 6px 0 0;
    bottom: 0;
    top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
 
  }

  .sidebar ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }

  .sidebar li {
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 0;
  }

  .sidebar-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  .sidebar-item .icon {
    width: 24px;
    height: 24px;
    margin: 0;
  }

  .sidebar-item-active {
  background: none;
  }


  .dashboard-content {
    margin-left: 0;
    padding-bottom: 80px; 
    background-color: #E9E8E8;
  }
}