@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --cor-primaria: #D98D30;
  --cor-secundaria: #ffeff7;
  --texto-principal: #333;
  --fonte: 'Poppins', sans-serif;
  --fonte-titulo-principal: 94px;
  --fonte-grande: 48px;
  --fonte-media: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  background-color: #0367A5;
  color: white;
  padding: 40px 40px;
  font-family: var(--fonte);
  display: flex;
  justify-content: space-between;
}


.footer-section {
  flex: 1;
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #ffffff;
}

.footer-section p {
  font-size: 14px;
  margin: 5px 0;
  color: #ffffff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #ffffff;
}

.footer-section p {
  font-size: 14px;
  margin: 5px 0;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.social-icons a:hover img {
  transform: scale(1.1);
}

