
.cupons-container {
  background: #E9E8E8;
  padding: 20px;
  border-radius: 10px;
  width: calc(100% - 10px);
  height: calc(100vh - 10px);
  margin: 5px;
  box-shadow: 0 4px 20px #0000001a;
  display: flex;
  flex-direction: column;
  align-items: rigth;
  
}

.titulo {
  gap: 20px; 
  padding: 50px; 
  margin-top: 50px;
  font-size: 32px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  position: absolute;

}

.estrela {
  gap: 20px; 
  padding: 50px; 
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 300px;
}
.estrelaIcon{
  background-color: #ffffff;
  color: #D98D30;
  width: 90px;
  height: 70px;
  border-radius: 5px;
  
}
.estrela-box {
  display: flex;
  background: #0367A6;
  color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.estrelaH1{
  font-size: 20px;
  color: #ffffff;
}

.botaoResgate{
  background: #0367A6;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
} 
.botaoResgate:hover{
  transform: scale(1.02);
}
.botaoUsados {
  background: #D98D30;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}
.botaoUsados:hover{
  transform: scale(1.02);
}

.cuponsGrade {
  position: absolute;
  margin-top: 150px;
  margin-right: 100px;
  width: 45vw;
  height: 500px;
  background: #E0E0E0;
  padding: 30px;
  border-radius: 10px;
  max-width: 900px;
  display: flex;
  justify-content:center; 
  align-self: flex-end; 
}

.cupons-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.cupom {
  background: #E0E0E0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  
}

.cupom.valido {
  background: #D98D30;
  color: white;
  border-bottom-style: inherit;
}

.cupom.desabilitado {
  background: #C4C4C4;
  color: #ffffff;
}

.cupom-titulo{
  color: #ffffff;
}

.cupom-descricao{
  color: #ffffff;
}

.input .text{
  background-color: #ffffff;
  padding: 30px;
}

.cupom-titulo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.des10{
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  padding: 5px;
  margin-top: 10px;
}


.desVazio{
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  width: 200px;
  height: 35px;
}


.desCultura {
  background-color: #ffffff;
  color: #000; 
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 5px;
  margin-top: 2px;
  width: 200px;
  height: 35px;
}

.cupom-descricao {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.copy {
  color: #D98D30;
  position: absolute;
  justify-content: flex-end;
  align-items: rigth;
  font-size: 12px;
  cursor: pointer;
}

.botaoSaiba{
  display: block;
  width: 100%;
  height: 30px;
  margin-top: 15px;
  padding: 4px;
  background: transparent;
  border: 1px dashed #ffffff;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
  
}

.botaoSaiba:hover{
  transform: scale(1.02);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 80%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.modal-content h3 {
  font-size: 18px;
  font-weight: bold;
  color: #d48806;
}

.modal-content p {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.modal-content button {
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  background: #d48806;
  color: #ffffff;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background: #b37405;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
}
