/* Container principal */
.cupons-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: calc(100% - 10px);
  height: calc(100vh - 10px);
  margin: 5px;
  box-shadow: 0 4px 20px #0000001a;
  display: flex;
  flex-direction: column;
  align-items: rigth;
  
}

/* Navbar dentro da seção */
.navBar {
  width: 100%;
  margin-bottom: 15px;
}

/* Título */
.cupons-title {
  display: flex;
  justify-content: flex-start; /* Alinha os elementos no topo */
  align-items: flex-start; /* Garante que fiquem no topo */
  gap: 20px; /* Espaço entre os elementos */
  padding: 20px; /* Espaçamento opcional */
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  margin-bottom: 30px;
}

/* Seção das estrelas e botões */
.estrela-container {
  display: flex;
  justify-content: flex-start; /* Alinha os elementos no topo */
  align-items: flex-start; /* Garante que fiquem no topo */
  gap: 20px; /* Espaço entre os elementos */
  padding: 20px; /* Espaçamento opcional */
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
  margin-bottom: 20px;
}

.estrela-box {
  display: flex;
  background: #0367A6;
  color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Botões */
.botao-resgate, .botao-usados {
  background: #0367A6;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  width: 150px;
  text-align: center;
}

.botao-usados {
  background: #D98D30;
}

/* Container dos cupons */
.cupons-wrapper {
  position: absolute;
  margin-top: 150px;
  background: #C4C4C4;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  cursor: pointer;
  box-shadow: 0 4px 10px #0000001a;
  display: flex;
  justify-content: flex-end; 
  align-self: flex-end; 
  
}

/* Grid dos cupons */
.cupons-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

/* Cartões de cupom */
.cupom {
  background: #E0E0E0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.cupom:hover {
  transform: scale(1.02);
}

.cupom.valido {
  background: #D98D30;
  color: white;
}

.cupom.desabilitado {
  background: #D9D9D9;
  color: white;
}

/* Texto do cupom */
.cupom-titulo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cupom-descricao {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
