.container-perfil {
  width: 320px;
  height: 685px;
  background: white;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  position: static;
  margin-top: 18px;
}

.perfil-banner {
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

.img-perfil {
  font-size: 90px;
  color: #777;
}

.titulo-perfil h2 {
  margin: 10px 0;
}

.nome-dashboard {
  color: #000000;
  font-size: 25px;
  font-weight: 500;
}


.input-perfil {
  width: 200px;
  height: 25px;
  margin-top: 10px;
  border: 1px solid #575757;
  outline: none;
}

.perfil-info {
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  border-top: 1px solid #ddd;
  z-index: 10;
}

.perfil-info p {
  font-size: 14px;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.perfil-info a {
  color: #0367a5;
  font-weight: bold;
  cursor: pointer;
}

.perfil-termos {
  margin-top: 15px;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #ddd;
  margin-top: 100px;
  cursor: pointer;
  z-index: 10;
}

.perfil-termos a {
  color: #666;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 20px;
}

 
 @media (max-width: 768px) {
  .container-perfil {
    max-width: 360px;; 
    margin: 0 auto;
    padding: 20px;
    background: none;
    border: none;
  }

  .nome-dashboard,
  .subnome-dashboard {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
  }

  .botao-salvar {
    margin-left: 5px;
    font-size: 12px;
    cursor: pointer;
  }
  

  .info-geral {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
  }

  .info-card-dashboard {
    max-width: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 10px 14px;
  }

  .icone-container {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .texto-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  .numero-geral {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
  }

  .paragrafo-geral {
    font-size: 14px;
    margin: 0;
    line-height: 1;
  }








} 
