
.descricao-curso-container {
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
    max-width: 1200px;
   
  }

  .descricaoText {
    flex: 1;
    flex-direction: column;
    text-align: left;
    padding: 0 40px;
  }

  .button-init {
    margin-top: 20px;
  }
  
  
  .descricao-curso-container h1 {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: none;
  }
  
  .descricao-curso-container p {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    max-width: none;
  }
  
  .descricao-curso-container strong {
    color: #0367A5;
  }
  
  .button-container-desc-curso {
    display: flex;
    flex-direction: row; 
    gap: 200px; 
    margin-left: 42px;
    margin-top: 100px;
}
    

  .pontos-image {
    width: 300px;
    height: auto;
    bottom: 0;
    right: 0;
  }
  
    @media only screen and (max-width: 767px) {
      .descricao-curso-container {
        max-width: 100%;
        padding: 2rem 1rem;
        overflow: hidden;
      }
    
      .descricao-curso-container h1 {
        font-size: 1.8rem;
        margin-bottom: 5px;
      }
    
      .descricao-curso-container p {
        font-size: 0.8rem;
      }
    
      .pontos-image {
        width: 220px;
      }
    
     .button-container-desc-curso {
        flex-direction: column;
        gap: 40px;
        width: 100%;
        align-items: center;
        margin-left: 0;
      }
    
      .button-container button {
        width: 100%;
        padding: 10px;
        font-size: 0.9rem;
      }
    }